name: client
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.1
  http: ^1.1.0
  shared_preferences: ^2.2.2
  intl: ^0.19.0
  image_picker: ^1.0.7
  firebase_core: ^4.2.1
  firebase_auth: ^6.1.2
  firebase_messaging: ^14.7.10
  flutter_local_notifications: ^17.0.0
  geolocator: ^11.0.0
  geocoding: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
